 
        <footer class="page-footer blue darken-3  z-depth-5 ">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">"Muchas veces la gente no sabe lo que quiere hasta que se lo enseñas." (Steve Jobs).</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" target="_blank" href="https://github.com/Jorgemarquez2222">Mi Repositorio</a></li>
                  <li><a class="grey-text text-lighten-3" target="_blank" href="https://ve.linkedin.com/in/jorge-marquez-garcía-6661a4b6">Mi Linkedin</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            Creado por Jorge Marquez
            <a class="grey-text text-lighten-3 pad right" target="_blank" href="https://github.com/Jorgemarquez2222">Mi Repositorio</a>
            <a class="grey-text text-lighten-3 pad right" target="_blank" href="https://ve.linkedin.com/in/jorge-marquez-garcía-6661a4b6">Mi Linkedin</a>

            </div>
          </div>
        </footer>