<br>
<div class="container">
  <div class="row">
        <div class="row col s12">
            <div class="card-panel  hoverable white lighten-1 z-depth-5 ">
              <div class="row ">
                <div class="row center">
                  <img src="assets/products/{{product?.image}}.jpg" alt="" class=" responsive-img">                  
                </div>
                  <div class="container">
                    <div class="row">
                          <span class="black-text">
                            <h5><p>Id: {{product?.id}}</p></h5>
                          </span>
                          <span class="black-text">
                            <h5><p>Nombre: {{product?.nombre}}</p></h5>
                          </span>
                          <span class="black-text">
                            <h5><p>Precio : {{product?.price | currency : 'USD' : true : '1.2-2' }}</p></h5>
                          </span>
                  </div> 
                </div>
                </div>
              </div>
            </div>
        </div>
  </div>


                         