/* You can add global styles to this file, and also import other style files */
@import "../node_modules/materialize-css/dist/css/materialize.css";
.col-center{
    float: none;
    margin: 0 auto;
    text-align: center;
}
  main {
    display: flex;
    min-height: 60vh;
    flex-direction: column;
  }

/*  
  main {
    flex: 1 0 auto;
  
  }*/
