
  <div class="parallax-container">
    <div class="parallax"><img src="assets/parallax2.jpg"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">Jorge Marquez</h2>
      <p class="grey-text text-darken-3 lighten-3">Desarrollador web con experiencia comprobable en el manejo de las tecnologías Angular, ExtJs, PHP, Jquery, JavaScript, HTML5 y Json. Administración de sitios web. Amplia disposición para aprender nuevas tecnologías.</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="assets/home-bg.jpg"></div>
  </div>
    <div class="section white">
    <div class="row container">
      <h2 class="header">Estudios</h2>
      <p class="grey-text text-darken-3 lighten-3">
        Adquisición de dos títulos profesionales <br>

        Tecnólogo en Computación e Ingeniero en Informática.<br>

        El titulo de  Ingeniero en Informática fué Egresado el 20 de noviembre del 2015.<br>

        Estoy en constante aprendizaje de las nuevas tecnologias ya que me gusta aprender para no quedarme atras.<br>

        Resultados(Angular, Sockets-io en angular, GIT, firebase con Angular, bootstrap, Materializecss)<br>
        
        Cuenta de  <a target="_blank" href="https://ve.linkedin.com/in/jorge-marquez-garcía-6661a4b6">Linkedin</a><br>
        Repositorio de  <a target="_blank" href="https://github.com/Jorgemarquez2222">GitHub</a><br>
    </div>
  </div>
    <div class="parallax-container">
    <div class="parallax"><img src="assets/parallax3.jpg"></div>
  </div>
<div class="section white">
    <div class="row container">
      <h2 class="header">Proyecto Angular</h2>
      <p class="grey-text text-darken-3 lighten-3">Este proyecto fue realizado con el Framework Angular ,<br> 
        Materialize con el modulo "angular2-materialize"<br>
        </p>
    </div>
  </div>